{% extends "layouts/base.html" %}
{% set pageName = 'DOGS' %}
{% set pageClass = 'about' %}
{% block title %}
    <title>Dogsdogsdogs</title>
{% endblock %}

{% block content %}
    <div class="about-container">
    	<h3>What are d.o.g.s?</h3>
    	<p>d.o.g.s are Doing Organizational Good Stuff. The goal of d.o.g.s is to activate equitable creative exchange within the Design and Technology program at Parsons.</p>
    	<p>In our techno-community, everyone’s set of unique skills presents an exciting opportunity for us to share and learn from one another. Everyone is both a student and a teacher; there are NO hierarchies, only different circumstances and skill sets, which place us at different points in our learning journeys.</p>
    	<p>The self-designated role of a dog is motivate others to achieve desired improvement of differing crafts, through the organization of collective activities, such as dorkshops, which aim to foster a low-stakes learning environment somewhat divorced from institutional contexts.</p>
    	<p>d.o.g.s is facilitated by students willing to take their time to coordinate dorkshops, events, and other collective activities for fellow DT students. Proposals for dorkshops, events, and activities are done through a Google form.</p>
    	<h3>How do I become a dog?</h3>
    	<p>Anyone who is interested in participating in peer to peer skillshares or community events is a dog. Yeah, it’s that easy.</p>
    	<p>A dog organizer’s role is to ‘hound’ people to attend events. If your bark is louder than your bite we want to hear from you. d.o.g.s aren’t administrators, we’re initiators, whom make ourselves available to assist in event logistics or just to talk. We also have a thing for diner coffee, so extra biscuits if that’s your zone.</p>
    	<h3>How do I host a dorkshop or propose and event within DT?</h3>
    	<p>Fill out <a href="/forms">the form</a>, dog!</p>
    	<p>** As d.o.g.s we strive to be mindful of the varying circumstances of our peers. We do our very best to make sure that everyone is equally represented and accommodated in a comfortable and inspiring habitat within which to make new discoveries. d.o.g.s absolutely do not tolerate any expressions of racism, homophobia, transphobia, or sexism. We do not participate in call out culture, however seek to advocate for common understandings. **</p>
    </div>
{% endblock %}
