{% extends "layouts/base.html" %}
{% set pageName = 'DOGS' %}
{% set pageClass = 'forms' %}
{% block title %}
    <title>Dogsdogsdogs</title>
{% endblock %}

{% block content %}
	<div class="container">
	    <ul class="form-list">
	    	<li class="form"><h3><a href="https://docs.google.com/forms/d/e/1FAIpQLSdrZr6BACJAdzoPBneUnsYLA9mEkNqdAPtWD2VLj49JpIM2eA/viewform?usp=sf_link" class="form-link">request/propose a dorkshop</a></h3></li>
	    	<li class="form"><h3><a href="https://docs.google.com/spreadsheets/d/1NirlbVJM8vq6Z43Lif2CynqcB1OaELwJFXyJW2lVxfk/edit?usp=sharing" class="form-link">propose an event</a></h3></li>
	    </ul>
    </div>
{% endblock %}
