.about {
    .about-container {
        width: 600px;
        display: block;
        margin: 3em auto;
        background-color: #fff;
        padding: 2em;
        font-size: 18px;
        line-height: 1.4;
        box-shadow: 2px 4px 16px #222;
        border: 12px dotted $green;
        h3 {
            font-weight: bold;
            font-size: 24px;
        }
        * + p, * + h3 {
            margin-top: 1em;
        }
    }
}
