{% set pageClass = pageClass|default('home') %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Document</title>{% endblock %}
    <meta name="description" content="d.o.g.s are Doing Organization Good Stuff at Parsons Design & Technology">
    <link rel="stylesheet" href="/main.css">
    <script tyep="text/javascript" src="/head.js"></script>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding|Underdog&display=swap" rel="stylesheet">
    
</head>
<body class="{{ pageClass }}">
    <div style="width:0;height:0;display:none">{% include "icons.svg" ignore missing %}</div>
    <nav class="navigation">
        <ul class="nav-links">
            <li class="nav-item">
                <a href="/about" class="link about"></a>
            </li>
            <li class="nav-item">
                <a href="/forms" class="link forms"></a>
            </li>
            <li class="nav-item">
                <a href="/calendar" class="link calendar"></a>
            </li>
        </ul>
    </nav>
    <a href="/" class="ticker">
        <span class="ticker-text">d.o.g.s d.o.g.s d.o.g.s dot net</span>
        <span class="ticker-text">d.o.g.s d.o.g.s d.o.g.s dot net</span>
        <span class="ticker-text">d.o.g.s d.o.g.s d.o.g.s dot net</span>
    </a>
    {% block content %}
        <h1>Base template content.</h1>
    {% endblock %}


</body>

<script defer async src="/main.js"></script>
</html>
